# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Node / Expo
node_modules/
dist/
build/
.expo/
.expo-shared/
*.log
.env
.env.*
!.env.example
web-build/

# Expo / React Native
ios/
android/

# Coverage
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
*.code-workspace
